

services:

  db:
    container_name: project_db
    image: postgres:16
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - project_pgdata:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - project_network


  #app:
  #  container_name: project_app
  #  build: . # Constrói usando o Dockerfile na pasta atual
  #  ports:
  #    - "8080:8080" # Expõe a aplicação na porta 8080 do seu PC
  #  environment:
      # Aqui injetamos as variáveis que o application.properties espera
  #    - DB_URL=jdbc:postgresql://project_db:5432/${DB_NAME}
  #    - DB_USERNAME=${DB_USERNAME}
  #    - DB_PASSWORD=${DB_PASSWORD}
  #    - JWT_SECRET=${JWT_SECRET}
  #  depends_on:
  #    # Só inicia o app depois que o banco estiver saudável
  #    db:
  #      condition: service_healthy
  #  networks:
  #    - project_network

volumes:
  project_pgdata:
    name: project_pgdata_vol

networks:
  project_network:
    driver: bridge